@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Color+Emoji&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "../styles/globals.css";

@layer base {
    :root {
        @apply font-sans;
    }

    body {
        @apply grid min-w-[320px] min-h-screen relative bg-background text-foreground;
        font-family:
            "Inter",
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            sans-serif;
        font-feature-settings: "cv02", "cv03", "cv04";
        /*letter-spacing: -0.02em;*/
    }
}

.font-logo {
    font-family: "Orbitron", sans-serif;
}

.font-header {
    font-family: "Cal Sans", sans-serif;
}

.font-node-card {
    font-family: "Roboto", "Noto Color Emoji", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
}
