@import "../styles/globals.css";

@layer base {
    :root {
        @apply font-sans;
    }

    body {
        @apply grid min-w-[320px] min-h-screen relative bg-background text-foreground;
        font-family:
            "Inter",
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            "Helvetica Neue",
            Arial,
            sans-serif;
    }
}
